<div class="card">
  <div class="card-header">Listado de tareas</div>
  <div class="card-body">
    <div class="form-group">
      <label for="filter">Filtrar</label>
      <input
        type="text"
        class="form-control"
        name="filter"
        (input)="filterTaskList()"
        [(ngModel)]="filter"
        placeholder="Texto para filtrar"
      />
      {{ filter }}
    </div>
    <ul>
      <li *ngFor="let task of filteredTaskList">
        {{ task.taskName }} -
        <button type="button" (click)="btnDelete(task.index)" class="btn btn-danger">
          Borrar
        </button>
      </li>
    </ul>
  </div>
</div>
