<div class="container">
  <div class="row">
    <div class="col-12">
      <kc-item (evtAdd)="addTareas($event)"></kc-item>
      <!-- Mensajes de éxito/errores -->
      <div *ngIf="succesMessage" class="alert alert-success" role="alert">
        <strong>{{ succesMessage }}</strong>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        <strong>{{ errorMessage }}</strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="filter">Filtrar</label>
        <input
          type="text"
          class="form-control"
          name="filter"
          (input)="filterTaskList()"
          [(ngModel)]="filter"
          placeholder="Texto para filtrar"
        />
      </div>
      <kc-lista [taskList]="filteredTaskList" (evtDelete)="deleteTask($event)"></kc-lista>
    </div>
  </div>
</div>

